---
http_interactions:
- request:
    method: get
    uri: http://api.e-stat.go.jp/rest/2.0/app/json/getMetaInfo?appId=<APP_ID>&statsDataId=0003014522
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"GET_META_INFO":{"RESULT":{"STATUS":0,"ERROR_MSG":"\u6B63\u5E38\u306B\u7D42\u4E86\u3057\u307E\u3057\u305F\u3002","DATE":"2016-04-06T09:40:38.251+09:00"},"PARAMETER":{"LANG":"J","STATS_DATA_ID":"0003014522","DATA_FORMAT":"J"},"METADATA_INF":{"TABLE_INF":{"@id":"0003014522","STAT_NAME":{"@code":"00550020","$":"\u5546\u696D\u7D71\u8A08\u8ABF\u67FB"},"GOV_ORG":{"@code":"00550","$":"\u7D4C\u6E08\u7523\u696D\u7701"},"STATISTICS_NAME":"\u5546\u696D\u7D71\u8A08\u8ABF\u67FB
        \u7D71\u8A08\u8868\u4E00\u89A7 \u5E73\u621019\u5E74\u5546\u696D\u7D71\u8A08
        \u4E8C\u6B21\u52A0\u5DE5\u7D71\u8A08\u8868","TITLE":{"@no":"13-12","$":"\u696D\u614B\u5225\u7D71\u8A08\u7DE8\uFF08\u5C0F\u58F2\u696D\uFF09
        \u30B3\u30F3\u30D3\u30CB\u30A8\u30F3\u30B9\u30B9\u30C8\u30A2\u306E\u533A\u90E8\u30FB\u5E02\u90E8\u30FB\u90E1\u90E8\u5225\u3001\u58F2\u5834\u9762\u7A4D\u898F\u6A21\u5225\u3001\u5F93\u696D\u8005\u898F\u6A21\u5225\u3001\u55B6\u696D\u6642\u9593\u5225\u306E\u4E8B\u696D\u6240\u6570\u3001\u5F93\u696D\u8005\u6570\u53CA\u3073\u5E74\u9593\u5546\u54C1\u8CA9\u58F2\u984D"},"CYCLE":"-","SURVEY_DATE":"200701-200712","OPEN_DATE":"2010-03-22","SMALL_AREA":0,"MAIN_CATEGORY":{"@code":"06","$":"\u5546\u696D\u30FB\u30B5\u30FC\u30D3\u30B9\u696D"},"SUB_CATEGORY":{"@code":"01","$":"\u5546\u696D"},"OVERALL_TOTAL_NUMBER":3456,"UPDATED_DATE":"2010-03-19"},"CLASS_INF":{"CLASS_OBJ":[{"@id":"cat01","@name":"\u4E8C\u6B21\u52A0\u5DE5\u7D71\u8A08\u30FB\u96C6\u8A08\u9805\u76EE","CLASS":[{"@code":"020000000","@name":"\u4E8B\u696D\u6240\u6570","@level":"1"},{"@code":"030020000","@name":"\u5F93\u696D\u8005\u6570\u3000(\u4EBA)","@level":"2","@parentCode":"030000000"},{"@code":"040000000","@name":"\u5E74\u9593\u5546\u54C1\u8CA9\u58F2\u984D\u3000(\u767E\u4E07\u5186)","@level":"1"}]},{"@id":"cat02","@name":"\u55B6\u696D\u6642\u9593\u968E\u7D1A","CLASS":[{"@code":"010000000","@name":"\u8A08","@level":"1"},{"@code":"010050010","@name":"14\u6642\u9593\u4EE5\u4E0A\uFF5E16\u6642\u9593\u67[...]
